.course-header {
    width: 100vw;
    color: var(--section-header-color);
    display: flex;
    justify-content: center;
    /* Horizontally centers content */
    align-items: center;
}

.section-header {
    color: var(--section-header-color);
}

.topic-container-card {
    background-color: var(--flashcard-lesson-color);
    color: var(--card-text-color);
    border-radius: 10px;
    text-align: center;
    height: 110px;
    min-width: 85px;
    margin: 3px 10px 3px 0px;
}

.change-this {
    padding: 5px 5px 0 5px;
}

.card-label-flashcard {
    color: black;
    width: 100%;
    text-align: center;
    background-color: yellow;
    border-radius: 10px 10px 0 0;
    padding: 5px 0px 3px 0px;
}

.card-label-story {
    width: 100%;
    text-align: center;
    background-color: red;
    border-radius: 10px 10px 0 0;
    padding: 5px 0px 3px 0px;
}

.card-label-lesson {
    width: 100%;
    text-align: center;
    background-color: green;
    border-radius: 10px 10px 0 0;
    padding: 5px 0px 3px 0px;
}

.card-label-wordlist {
    width: 100%;
    text-align: center;
    background-color: rgb(146, 98, 218);
    border-radius: 10px 10px 0 0;
    padding: 5px 0px 3px 0px;
}

.customLessonCard {
    background-color: yellow;
    color: var(--card-text-color);
    margin-right: 7px;
}

/* this is in the wrong place but fine */
.word-list-container {
    color: var(--font-color);
    background-color: var(--background-color);
    padding-left: 10px;
}

/* This is test feature for now */
.pop-up-container {
    background-color: inherit;
}

.picture-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: black;
}

.picture-style {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 10;
}

.circle {
    /* Set equal height and width to form a square initially */
    height: 15px;
    width: 15px;

    /* Set the background color to white */
    background-color: white;

    /* Add the black outline (border) */
    /* Syntax: border: width style color; */
    border: 2px solid black;

    /* Transform the square into a circle */
    border-radius: 50%;
    animation: pulse 3s infinite;
    opacity: .5;
}

@keyframes pulse {
    0% {
        transform: scale(.8);
        /* Original size */
    }

    50% {
        transform: scale(1.8);
        /* Slightly larger */
    }

    100% {
        transform: scale(.8);
        /* Back to original size */
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* end test feature */