.word-list {
    background-color: var(--bg-color);
}

/* .word-list>li {
    background-color: white;
} */

.header {
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    /* Horizontally centers content */
    align-items: center;
}