.course-header {
    width: 100vw;
    color: var(--section-header-color);
    display: flex;
    justify-content: center;
    /* Horizontally centers content */
    align-items: center;
}

.section-header {
    color: var(--section-header-color);
}

.storyLessonCard {
    background-color: var(--story-lesson-color);
    color: var(--card-text-color);
    margin-right: 7px;
}

.flashCardLessonCard {
    background-color: var(--flashcard-lesson-color);
    color: var(--card-text-color);
    margin-right: 7px;
}

.customLessonCard {
    background-color: yellow;
    color: var(--card-text-color);
    margin-right: 7px;
}

/* this is in the wrong place but fine */
.word-list-container {
    color: var(--font-color);
    background-color: var(--background-color);
    padding-left: 10px;
}

/* story styles -- probably also to be moved eventually */
.story-container {
    flex: 1;
    justify-content: center;
    align-content: space-around;
    color: var(--font-color);
    background-color: var(--background-color);
    height: 100vh;
}

.story-page {
    padding: 7px;
    width: 100vw;
    max-width: 900px;
    padding-bottom: 200px;
    overflow: hidden;
}

.fixed-element {
    background-color: lightgrey;
    width: 80%;
    max-width: 800px;
    position: fixed;
    bottom: 40px;
    padding: 10px;
    left: 50%;
    /* Moves the left edge of the element to the horizontal center of the viewport */
    transform: translateX(-50%);
    /* Moves the element back by half of its own width */
}

/* story styles -- end  */


/* This is test feature for now */
.picture-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
}

.picture-style {
    max-width: 100%;
    height: auto;

    z-index: 10;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* end test feature */