.course-header {
    width: 100vw;
    color: var(--section-header-color);
    display: flex;
    justify-content: center;
    /* Horizontally centers content */
    align-items: center;
}

.section-header {
    color: var(--section-header-color);
}

.storyLessonCard {
    background-color: var(--story-lesson-color);
    color: var(--card-text-color);
    margin-right: 7px;
}

.flashCardLessonCard {
    background-color: var(--flashcard-lesson-color);
    color: var(--card-text-color);
    margin-right: 7px;
}

.customLessonCard {
    background-color: yellow;
    color: var(--card-text-color);
    margin-right: 7px;
}

/* this is in the wrong place but fine */
.word-list-container {
    color: var(--font-color);
    background-color: var(--background-color);
    padding-left: 10px;
}

/* story styles -- probably also to be moved eventually */
.story-container {
    padding-left: 10px;
    flex: 1;
    justify-content: center;
    align-content: space-around;
    color: var(--font-color);
    background-color: var(--background-color);
    height: 100vh;
}

.story-page {
    padding-top: 18px;
    width: 100vw;
    max-width: 900px;
    padding-bottom: 200px;
    overflow: hidden;
}

.fixed-element {
    background-color: lightgrey;
    width: 80%;
    max-width: 800px;
    position: fixed;
    bottom: 40px;
    padding: 10px;
    left: 50%;
    /* Moves the left edge of the element to the horizontal center of the viewport */
    transform: translateX(-50%);
    /* Moves the element back by half of its own width */
}

/* story styles -- end  */


/* This is test feature for now */
.pop-up-container {
    background-color: inherit;
}

.picture-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: black;
}

.picture-style {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 10;
}

.circle {
    /* Set equal height and width to form a square initially */
    height: 15px;
    width: 15px;

    /* Set the background color to white */
    background-color: white;

    /* Add the black outline (border) */
    /* Syntax: border: width style color; */
    border: 2px solid black;

    /* Transform the square into a circle */
    border-radius: 50%;
    animation: pulse 3s infinite;
    opacity: .5;
}

@keyframes pulse {
    0% {
        transform: scale(.8);
        /* Original size */
    }

    50% {
        transform: scale(1.8);
        /* Slightly larger */
    }

    100% {
        transform: scale(.8);
        /* Back to original size */
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* end test feature */