.container {
    height: 80%;
    margin: 0 3 0 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-color)
}

.card-container {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100vh;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80vw;
    max-width: 400px;
    color: var(--font-color);
    border-radius: 10px;
    background-color: #f1f1f1;
    background-color: var(--card-color);
    margin: 20px;
}

.flashcard-top {
    font-size: 2em;
    padding-left: 4px;
}

.controls-container {
    max-width: 600px;
    margin-top: auto;
}

.controller-box {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    width: 95vw;
    max-width: 500px;
    border-radius: 10px;
}

.next-button {
    background-color: lightgrey;
    border-left: 3px solid black;
    color: black;
    width: 20%
}

.back-button {
    background-color: lightgrey;
    border-right: 3px solid black;
    color: black;
    width: 20%
}

.controller-center {
    display: flex;
    flex-direction: column;
    color: black;
}