/* TODO: --font-color and --text-color needs to be cleaned up */

:root {
  --text-color: #2d0606;
  --background-color: #bcbceb;
  --card-color: white;
  --story-lesson-color: red;
  --flashcard-lesson-color: lightgrey;
  --card-text-color: black;
  --section-header-color: black;
  --course-header-color: white;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --background-color: rgb(41, 44, 44);
  --card-text-color: black;
  --section-header-color: blue;
  --text-color: white;

  --font-color: white;
  --card-color: black;
  /* --card-color: orange; */
  --story-lesson-color: red;
  --flashcard-lesson-color: lightgrey;
  --card-text-color: black;
  --section-header-color: white;
  --course-header-color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.6s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}